<section
  class="footer_section"
  style="
    width: 100%;
    background-color: #a84146;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
  "
>
  <div style="text-align: center">
    <img src="assets/logo/logo_white.png" style="width: 20; height: 25" />
  </div>
  <div
    style="
      display: grid;
      justify-content: end;
      align-items: end;
      text-align: center;
      height: 300px !important;
    "
  >
    <p style="font-weight: bold; color: #ffffff">
      &#64; 2024 por Francisco Santana
    </p>
  </div>
  <div
    style="
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;

      margin-bottom: 1rem;
    "
  >
    <h2 style="font-weight: bold; color: #ffffff; font-size: 1.8rem">
      Contatos
    </h2>
    <div
      style="
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
      "
    >
      <a style="font-weight: medium; color: #ffffff"> (79) 3019-1100  </a>
      <a style="font-weight: medium; color: #ffffff"> (79) 9 9991-2050  </a>
      <a style="font-weight: medium; color: #ffffff"> (79) 9 9938-1100 </a>
      <a style="font-weight: medium; color: #ffffff"> (79) 9 9953-7809 </a>
    </div>
  </div>
</section>

<section
  class="footer_section_mobile"
  style="
    width: 100%;
    background-color: #a84146;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    display: none;
  "
>
  <div
    style="
      display: flex;
      justify-content: space-around;
      gap: 3rem;
      align-items: center;
    "
  >
    <div style="text-align: center">
      <img src="assets/logo/logo_white.png" style="width: 20; height: 25" />
    </div>

    <div
      style="
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin-bottom: 1rem;
      "
    >
      <h2 style="font-weight: bold; color: #ffffff; font-size: 1.8rem">
        Contatos
      </h2>
      <div
        style="
          display: grid;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 2rem;
        "
      >
        <a style="font-weight: medium; color: #ffffff"> (79) 3019-1100  </a>
        <a style="font-weight: medium; color: #ffffff"> (79) 9 9991-2050  </a>
        <a style="font-weight: medium; color: #ffffff"> (79) 9 9938-1100 </a>
        <a style="font-weight: medium; color: #ffffff"> (79) 9 9953-7809 </a>
      </div>
    </div>
  </div>
  <div
    style="
      display: grid;
      justify-content: center;
      align-items: end;
      text-align: center;
      height: 300px !important;
    "
  >
    <p style="font-weight: bold; color: #ffffff">
      &#64; 2024 por Francisco Santana
    </p>
  </div>
</section>
