<section
  class="second_component"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    padding: 4rem;
  "
>
  <!-- image -->
  <div style="width: 60%">
    <img class="second_image_1" src="assets/backdrop/sushi2.png" alt="" />
    <img
      class="second_backdrop"
      src="assets/backdrop/redblock.png"
      alt=""
      style="left: 120px; position: absolute; top: 2000px; z-index: -1"
    />
  </div>
  <!-- text -->
  <div style="width: 40%; font-size: 1.4rem">
    <h2 style="color: #ffffff; text-align: end">
      Servimos o autêntico sabor
      <span style="color: #a54045">Japonês</span>
    </h2>
    <p
      class="second_mobile"
      style="color: #8c8c8a; font-size: 1.2rem; text-align: end"
    >
      O Restaurante Hashi é o pioneiro do grupo, sendo assim uma empresa
      primitiva na culinária chinesa e japonesa no estado de Sergipe. Tem como
      diferencial a busca pela qualidade de seus produtos e preço acessível.
      Procuramos  atender nossos clientes de forma customizada sempre que
      possível. Priorizamos a satisfação do cliente para realização de todas as
      suas iniciativas a fim de acompanhar a evolução do mercado e se manter
      competitiva mesmo em meio ao seu crescimento.
    </p>
  </div>
</section>
