<div
  style="
    height: 100px;
    width: 100%;
    background-color: #a84146;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  "
>
  <div>
    <img
      style="width: 60px; height: 60px"
      src="assets/header/header_image1.png"
      alt=""
    />
  </div>
  <div style="text-align: center" class="work_all">
    <p style="font-weight: bold; color: #ffffff; font-size: 1.2rem">
      FUNCIONAMOS TODOS OS DIAS
    </p>
    <p style="font-weight: bold; color: #ffffff; font-size: 1.2rem">
      DAS 18:00 ás 23:00
    </p>
  </div>
  <div>
    <img
      style="width: 60px; height: 60px"
      src="assets/header/header_image2.png"
      alt=""
    />
  </div>
</div>

<p-galleria
  class="banner_component"
  style="display: flex; justify-content: center; align-items: center"
  [value]="images"
  (valueChange)="handleValueChange($event)"
  [autoPlay]="true"
  [numVisible]="5"
  [circular]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
  </ng-template>
</p-galleria>
<!-- adicionar no p-galleria -->
<!-- [containerStyle]="{ 'max-width': '1600px' }" -->
