<section
  class="fist_component"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    padding: 2rem;
  "
>
  <!-- text -->
  <div style="width: 50%; font-size: 1.4rem">
    <img
      src="assets/backdrop/first.png"
      alt=""
      style="left: 180px; position: absolute; top: 1000px"
      class="fist_backdrop"
    />
    <h2 style="color: #ffffff">
      Aproveite a deliciosa Comida do
      <span style="color: #a54045">Hashi Luzia</span>
    </h2>
    <p class="first_mobile" style="color: #8c8c8a; font-size: 1.2rem">
      Servimos as melhores comidas japonesas. Preparado com ingredientes
      selecionados por um chef profissional e de sabor autêntico. Esperamos que
      você aproveite nossas refeições!
    </p>
  </div>
  <!-- image -->
  <div style="width: 50%">
    <img
      src="assets/backdrop/sushi1.png"
      alt=""
      class="fist_image_1"
      style="width: 100% !important"
    />
    <img
      src="assets/backdrop/redblock.png"
      alt=""
      style="right: 120px; position: absolute; top: 1060px; z-index: -1"
      class="fist_backdrop"
    />
  </div>
</section>
